.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card {
    width: 400px;
    height: 600px;
    background-color: aquamarine;
    margin: 20px;
}

#person-img {
    width: 200px;
    height: 300px;
}